# Dependencies
node_modules/

# Build output
dist/
build/

# NestJS / TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Prisma
prisma/*.db
prisma/*.db-journal

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
logs/

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/*
!.vscode/extensions.json
